// Font
$fontHeader: bold 18px/1.4 "Roboto", sans-serif;
$fontButton: bold 15px/140% "Inter", sans-serif;
$fontThin: 12px/140% "Inter", sans-serif;
$fontTitle: bold 18px/1.4 "Roboto", sans-serif;
$fontTable: 14px/16px "Roboto", sans-serif;

// Size
$widthDesktop: 1280px;
$widthTablet: 768px;
$widthPhone: 496px;
$widthPhoneSm: 360px;

// Color

$colorContainerBackground: #dfd9d9;
$colorComponentBackground: #f7f8f9;
$colorAccent: #81d742;
$colorBtn: #fff;
$colorLabel: #97adb6;
$colorRed: #dd2121;
